<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="SIMPLE_LOG_PATTERN"
              value="%d{yyy-MM-dd HH:mm:ss,GMT+8} ${LOG_LEVEL_PATTERN:-%5p} [%32.32t] [%32.32logger{40}] %m%n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${SIMPLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${SIMPLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>
            ${user.home}${file.separator}logs${file.separator}flink-connector-rocketmq${file.separator}connector.log
        </file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>
                ${user.home}${file.separator}logs${file.separator}flink-connector-rocketmq${file.separator}others${file.separator}connector_log.%i.log.gz
            </fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>